{% extends 'base.html.twig' %}

{% block stylesheets %}

<style>

    body {
        background: #f5f5f5;
        min-height: 100%;
        display: flex;
        align-items: center;
        height: 100vh;
    }

    .box-upload {
        background: #fff;
        padding: 15px; 
        border-radius: 4px; 
    }

</style>

{% endblock stylesheets %}

{% block body %}

    <section class="box-upload container">
        <div class="row">
            <div class="col-lg-6 ml-auto mr-auto">
                {{ form_start(uploadForm) }}
                    {{ form_widget(uploadForm) }}
                {{ form_end(uploadForm) }}
            </div>
        </div>
    </section>

{% endblock body %}